<div class="page-header">
  <h1>
    Equipment
    <a href="/equipment/new" class="btn btn-lg btn-success">New Equipment</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.loaner.created_at %></td>
        <td>
          <a href="/equipment/<%= equipment.id %>" class="btn btn-primary">Show</a>
          
          <% if current_borrower == equipment.loaner %>
            <a href="/equipment/<%= equipment.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_equipment/<%= equipment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
